<!DOCTYPE html>
<html>
　　<head>
　　　　<meta http-equiv="content-type" content="text/html; charset=utf-8" />
　　　　<title>{{ page.title }}</title>
		<meta name="keywords" content="{{ page.keywords }}"/>
		<meta name="description" content="{{ page.description }}"/>
		<link rel="fluid-icon" href="https://github.com/fluidicon.png" title="GitHub">
		<link type="image/x-icon" href="favicon.ico" rel="shortcut icon" />
		<link href="favicon.ico" rel="bookmark icon" />
		<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    	<link rel="stylesheet" href="assets/css/style.css?v=07babd90e23bf01e7d3b271d880834ed98be30fb">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
　　</head>
　　<body>
　　　　{{ content }}
　　</body>
</html>